
<div class="container">
    <h2 class="text-center">Detección de Señas</h2>

    <form action="/detect" method="post" enctype="multipart/form-data">
      <div class="dropzone ml-5 mr-5 center" id="dropzone">Arrastra y suelta la imagen aquí</div>

      <input type="file" name="image" id="image" required style="display: none;">
     
      <div class="form-group text-center">
        <label for="output_format" class="mt-2 h5 text-primary">Formato de salida</label>
        <div class="col-md-6 offset-md-3">
          <select class="form-control custom-select" name="output_format">
            <option value="text">Texto</option>
          </select>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <button type="submit" class="btn btn-primary btn-lg">Detectar</button>
      </div>
    </form>

    <!-- Spinner de carga -->
    <div id="loading" class="text-center mt-2" style="display: none;">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Cargando...</span>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-2">
      <p id="transcription"></p>
    </div>
    </div>
    
<script>
    function handleSubmit(event) {
      event.preventDefault();
      document.getElementById('loading').style.display = 'block'; // Muestra el spinner de carga
      var formData = new FormData(event.target);
      fetch('/interpret', { method: 'POST', body: formData })
        .then(response => response.json())
        .then(data => {
          document.getElementById('transcription').textContent = data.predicted_label;
          document.getElementById('transcription').style.display = 'block'; // Muestra el texto de transcripción
          document.getElementById('audioPlayer').style.display = 'none'; // Oculta el reproductor de audio
      });
    }
      
    function handleDropzoneClick() {
      document.getElementById('image').click();
    }

    function handleDropzoneDragOver(event) {
      event.preventDefault();
      this.style.backgroundColor = '#ccc';
    }

    function handleDropzoneDragLeave() {
      this.style.backgroundColor = '#f8f8f8';
    }

    function handleDropzoneDrop(event) {
      event.preventDefault();
      this.style.backgroundColor = '#f8f8f8';
      document.getElementById('image').files = event.dataTransfer.files;
    }

    function handleFileInputChange() {
      document.getElementById('dropzone').textContent = this.files[0].name;
    }

    document.querySelector('form').addEventListener('submit', handleSubmit);
    document.getElementById('dropzone').addEventListener('click', handleDropzoneClick);
    document.getElementById('dropzone').addEventListener('dragover', handleDropzoneDragOver);
    document.getElementById('dropzone').addEventListener('dragleave', handleDropzoneDragLeave);
    document.getElementById('dropzone').addEventListener('drop', handleDropzoneDrop);
    document.getElementById('image').addEventListener('change', handleFileInputChange);
</script>
